server:
  port: 8083
spring:
  profiles:
    active: dev
  application:
    name: order-service
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: 0475ca81-cb6f-454e-9882-5972fee62210  # 命名空间隔离
        group: CLOUD_DEMO
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest